.container {
  width: 100vw;
  height: 100vh;
  background: #DF825F;
}


.info {
  padding: 150px;
}

.info h2 {
  color: #fff;
  font-size: 42px;
  line-height: 46px;
  text-align: center;
}

.info img {
  max-width: 300px;
}

.login {
  background: #fff;
}
