.profile {
  height: 100%;

}

.profile img {
  width: 40px;
  max-height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
}

mat-toolbar {
  background: #706695;
  border-bottom: 1px solid #dcc;
}
